html,
body {
    height: 100%;
    background-color: #F5F5F5 !important;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 60px 15px 20px;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position : inherit;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}
a:hover, a:focus {
    text-decoration: none !important;
}
.media-body > .media-heading > a, button.btn.btn-link.logout {
    color: rgba(255,255,255,0.75);
    -webkit-transition: background .15s linear,color .15s linear;
    -o-transition: background .15s linear,color .15s linear;
    transition: background .15s linear,color .15s linear;
}
.media-body > .media-heading > a:hover, button.btn.btn-link.logout:hover {
    color: rgba(255,255,255,1);
    -webkit-transition: background .15s linear,color .15s linear;
    -o-transition: background .15s linear,color .15s linear;
    transition: background .15s linear,color .15s linear;
}
.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}
.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.list-inline {
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
}
.site-login {
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 50px 50px 30px 50px;
}
.body-login {
    background-image: url('../images/boxed_bg.png');
    background-repeat: repeat;
}
.vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}
.breadcrumb, .breadcrumb-line {
    background-color: inherit !important;
}
.site-index a {
    color : #23527c;
}
.site-index a:hover {
    color : #0277BD;
}
.form-group > select {
    height: 34px !important;
}
.content-group > legend {
    font-size: 12px !important;
}
select.form-control:not([size]):not([multiple]) {
    height: 35px;
}