/* 
    Document   : colors
    Author     : Little Neko
    Description: template colors
*/


/* Table of Content
==================================================

#BOOSTRAP CUSTOMIZATION
#TYPOGRAPHY
#LINKS AND BUTTONS
#HEADER
#MAIN MENU 
#FOOTER 
#SLIDERS
#BLOG
#PORTFOLIO
#MISCELANIOUS
#NEKO CSS FRAMEWORK

*/
/* COLORS :  252525 / 3d3d3d  / 5e5e5e / f7f7f7 /
/* BOOSTRAP CUSTOMIZATION
================================================== */

/** tabs and accordion**/
.panel-default>.panel-heading {background:#3d3d3d ; }
.panel-default>.panel-heading:hover, .nav>li>a:hover, .nav>li>a:focus{background:#555; }
.panel-default>.panel-heading:hover a, .nav>li>a:hover{color:#fff; }
.panel-title>a {color:#fff;}
.panel-title>a:hover {text-decoration: none; }
.panel-body{background:#efefef;}

/*** pagination ***/

.pagination>li>a {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 3px solid rgba(150, 150, 150, 0.25);
    color: #111111;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background: none repeat scroll 0 0 #3d3d3d ;
	border-bottom:3px solid #252525;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
	background: none repeat scroll 0 0 #3d3d3d ;
	border-color:#3d3d3d ;
	border-bottom:3px solid #252525;
	color:#fff;


}

.pager li>a, .pager li>span {border-radius: 4px;}
.pager li>a:hover, .pager li>a:focus {background:#3d3d3d ; color:#fff; border-color:#3d3d3d ;}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background:#3d3d3d;}
/* END BOOSTRAP CUSTOMIZATION
================================================== */

/* TYPOGRAPHY
================================================== */

body {
	color:#777;
	background: #fefefe;
}

blockquote small {
	color:inherit;
}
h1, h2, h3, h4, h5, h6 {
	color:#333;
}

h2 i {color:#999}
h2.subTitle  {
 color:#555;	
}

.title{background-color:#F7F7F7;border-bottom: 2px solid rgba(1,1,1,0.075);}
.title h1:after,.title h1:before{color:#ccc;}
/*** parallax sections ***/

.paralaxText blockquote:before, .paralaxText blockquote:after {
	color:#fff;
}
#home, #paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #paralaxSlice4 {
	background-color:#3d3d3d ;
}
#noSliderWrapper{
	background:url('../images/theme-pics/textures/blue.jpg') no-repeat #3d3d3d;

}
#paralaxSlice1 {
	background-image: url('../images/theme-pics/textures/blue-2.jpg');
}
#paralaxSlice2 {
	background-image: url('../images/theme-pics/textures/blue.jpg');
}
#paralaxSlice3 {
	background-image: url('../images/theme-pics/textures/blue-2.jpg');
}
#paralaxSlice4 {
	background-image: url('../images/theme-pics/cats.jpg');
}

#paralaxSlice5 {
	background-image: url('../images/slider/super/supersized-1.jpg');
}

#paralaxSlice6 {
	background-image: url('../images/slider/super/supersized-2.jpg');
}

#paralaxSlice7 {
	background-image: url('../images/slider/layer-slider/layer-slide3.jpg');
}
.paralaxText blockquote, .paralaxText h1, .paralaxText h2, .paralaxText h3, .paralaxText p, .paralaxText i{
	color:#fff;
}

/* END TYPOGRAPHY
================================================== */

/* LINKS AND BUTTONS
================================================== */

a {
	color:#3d3d3d ;
}
a:hover, .scrollspyNav .active a {
	color:#3d3d3d ;
}
ul.iconsList li a {
	color:#555
}
ul.iconsList li a:hover, ul.iconsList i {
	color:#3d3d3d 
}

/*** buttons ***/
.btn {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 4px solid rgba(150, 150, 150, 0.25);
    color: #111111;
}

.btn:hover {
    background: none repeat scroll 0 0 #555555;
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.btn-inverse {
	 background: none repeat scroll 0 0 #555555;
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF!important;
}

.btn-inverse:hover{
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 4px solid rgba(150, 150, 150, 0.25);
    color: #111111!important;
}

.btn-primary {
	background: #3d3d3d ;
	border-bottom-color:#252525;
	color: #FFFFFF!important;
}
.btn-info {
	background: #49AFCD;
	border-bottom-color:#3D93AC;
	color: #FFFFFF;
}
.btn-success {
	background: #5BB75B;
	border-bottom-color:#4C9C4C;
	color: #FFFFFF;
}
.btn-warning {
	background: #FAA732;
	border-bottom-color:#EF9B25;
	color: #FFFFFF;
}
.btn-danger {
	background: #DA4F49;
	border-bottom-color:#C64741;
	color: #FFFFFF;
}
.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover {
	background:none;
	border:none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	color:#49AFCD;
}
.btnWrapper {
	border:1px solid #ccc;
}

/* END LINKS AND BUTTONS
================================================== */
/* HEADER
================================================== */
#preHeader{background-color:#5e5e5e;}
ul.quickMenu li a, .contactPhone {color:#F7F7F7;}
ul.quickMenu li a:hover {color:#fff;}
#preHeader .socialNetwork .iconRounded{ background:none; border:none}

/* END HEADER
================================================== */



/* MAIN MENU 
================================================== */

#mainHeader{
    background-color:#333 ;
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
}

#mainHeader .navbar-inner {
	background: #444;
	filter:none !important;
}
#mainMenu .navbar-nav li{
	border-bottom:1px solid #555;
}
#mainMenu .navbar-nav li:last-child, #mainMenu .navbar-nav li:last-child a{
	border-bottom:none !important;
}

.navbar-nav > li > a > i, .navbar-default .navbar-nav > li > a {
	color:#ccc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:none;
	color:#fff;
}
.navbar-nav > li.sep:before  {color:#eee;}
.navbar-default .navbar-nav > li > a.active { color:#fff;}
.navbar-nav ul li a, .navbar-nav li.hover>a {color:#fff;}


/*** header options ***/


/* header 1 */
.header1 #preHeader {background-color: #333;}
.header1 ul.quickMenu li a:hover,.header1 #preHeader .socialNetwork .iconRounded:hover{ color: #3d3d3d;}
.header1 ul.quickMenu li, .header1 .contactPhone {border-right:1px solid #555;}
.header1 #mainHeader{background:#fff;}
.header1 #mainMenu .navbar-nav li{ border-color:#eee; }
.header1 .navbar-default .navbar-nav > li > a {color:#555;}
.header1 .navbar-default .navbar-nav > li > a.active, .header1 .navbar-default .navbar-nav > li.Nactive > a, .header1 .navbar-default .navbar-nav>li>a:hover, .header1 .navbar-default .navbar-nav>li.hover>a, .header1 .navbar-default .navbar-nav li.Nactive>a {color:#3d3d3d;}
.header1 .navbar-nav ul {}
.header1 .navbar-nav ul li a {color:#555;}



/** header 2 **/
.header2 .navbar-nav ul {border-top-color: #3d3d3d; }
.header2 .navbar-nav ul li a {border-color:#eee}
.header2 .navbar-nav li{border-bottom-color:#eee;}
.header2 .navbar-nav ul li a:hover, .header2 .navbar-nav ul li.hover> a, .header2 li.Nactive> a {color:#fff;}


/*** header 3 ***/
.header3 #preHeader {background-color: #fff; border-bottom: 1px solid #eee}
.header3 #mainMenu .navbar-nav li{border-bottom-color:#eee;}
.header3 .navbar-nav ul.subMenu a{ color:#999; }
.header3 ul.quickMenu li a, .header3 .contactPhone, .header3 #preHeader .socialNetwork .iconRounded {color:#999;}
.header3 ul.quickMenu li a:hover,.header3 #preHeader .socialNetwork .iconRounded:hover{ color: #3d3d3d;}
.header3 #mainHeader{background:#fff;}
.header3 .navbar-default .navbar-nav > li > a {color:#999;}
.header3 .navbar-default .navbar-nav > li > a.active, .header3 .navbar-default .navbar-nav>li>a:hover, .header3 .navbar-default .navbar-nav>li.hover>a, .header3 .navbar-default .navbar-nav li.Nactive>a {color:#3d3d3d;}
.header3 .navbar-nav>ul { top:88px;}



/**** header 4 ****/
.header4 #mainHeader{background:#fff;}
.header4 #mainMenu .navbar-nav li{border-bottom-color:#eee;}
.header4 .navbar-default .navbar-nav > li > a { color:#999; border-top:3px solid #fff; }
.header4 .navbar-default .navbar-nav > li > a.active, .header4 .navbar-default .navbar-nav>li>a:hover, .header4 .navbar-default .navbar-nav>li.hover>a, .header4 .navbar-default .navbar-nav li.Nactive>a { color:#3d3d3d; }
.header4 .navbar-nav > li#lastMenu > a {padding-right:15px;}
.header4 .navbar-nav ul li a { color:#999; }


/***** header 5 *****/

.header5 #mainHeader{ background:#fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); }
.header5 #mainMenu .navbar-nav li{border-bottom-color:#eee;}
.header5 .navbar-default .navbar-nav > li > a {color:#555;}
.header5 .navbar-default .navbar-nav > li > a.active, .header5 .navbar-default .navbar-nav>li>a:hover, .header5 .navbar-default .navbar-nav>li.hover>a, .header5 .navbar-default .navbar-nav>li.Nactive>a { color:#3d3d3d; }
.header5 .navbar-nav ul li a { color:#555; border-bottom: 1px solid #eee; }



/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){
	
	/* normal header (no class on body) */
	.navbar-nav ul {background:#4b4a4a; border-top: 4px solid #fff;}
	.navbar-nav ul li a:hover, .navbar-nav ul li.hover>a, #resMainMenu li.active>a {background:#3d3d3d;}
	.navbar-nav ul {background:rgba(50,50,50,0.75);}
	#mainMenu .navbar-nav li{border-bottom:none;}
	

	/* Header 1 */
	.header1 .navbar-default .navbar-nav > li > a.active, .header1 .navbar-default .navbar-nav>li>a:hover, .header1 .navbar-default .navbar-nav>li.hover>a, .header1 #resMainMenu li.active>a{background:#3d3d3d; color:#fff;}
	.header1 .navbar-nav ul {background:#f7f7f7; top:88px;}
	.header1 .navbar-nav ul li a:hover, .header1 .navbar-nav ul li.hover> a, .header1 .navbar-nav ul li.Nactive> a {background:#eee;}
	/** header 2 **/
	.header2 .navbar-nav ul {border-top-color: #3d3d3d; background:#fff; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);}
	.header2 .navbar-nav ul li a {color:#555; border-bottom: 1px solid #eee}

	/*** header 3 ***/	
	.header3 .navbar-default .navbar-nav > li > a {border-left:1px solid #eee;}
	.header3 .navbar-nav > li > a {padding:22px 22px;}
	.header3 .navbar-nav ul.subMenu a{ color:#fff; }

	/**** header 4 ****/
	.header4 .navbar-default .navbar-nav > li > a.active, .header4 .navbar-default .navbar-nav>li>a:hover, .header4 .navbar-default .navbar-nav>li.hover>a, .header4 #resMainMenu li.active>a{ border-top-color:#3d3d3d; background:#f7f7f7; }
	.header4 .navbar-nav ul {background:#555;}
	.header4 .navbar-nav ul li a {border-top: 1px solid #444;}
	.header4 .navbar-nav ul li a:hover, .header4 .navbar-nav ul li.hover a {color:#fff;}

	/***** header 5 *****/
	.header5 .navbar-nav ul { background:#fff; border:1px solid #eee; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); }
	.header5 .navbar-default .navbar-nav > li > a.active, .header5 .navbar-default .navbar-nav>li>a:hover, .header5 .navbar-default .navbar-nav>li.hover>a, .header5 #resMainMenu li.active>a { background-color:#3d3d3d; color:#fff; }
	.header5 .navbar-nav ul li a:hover, .header5 .navbar-nav ul li.hover > a {color:#fff;}
	.header5 .navbar-nav ul li a{ border:none; }
}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/
/* END MAIN MENU 
================================================== */



/* FOOTER 
================================================== */

footer {
	color:#444;
	background:#222;
	border-top:1px solid #555s;
}
footer h1,footer h2,footer h3,footer h4{color:#fff; font-weight:300;}
#footerRights {
	background-color:#5e5e5e;
	color:#eee;
}

/* END FOOTER 
================================================== */

/* HOME
================================================== */

#home h1,#home h2,#home p, #noSliderWrapper h1, #noSliderWrapper h2, #noSliderWrapper p {color:#FFFFFF;}

#noSliderWrapper{background-color:#3d3d3d }


/* END HOME
================================================== */


/* PAGES
================================================== */
.page-header{background-color:#F5F5F5;border-bottom: 2px solid rgba(1,1,1,0.075);}
.page-header h1{color:#777;}
.page-header.bigHeader, .page-header.bigHeader h1 {background-color:#5e5e5e; color:#fff;}

ul#navTrail li a {color:#999;}
ul#navTrail li a:hover {color:#3d3d3d ;}

/** sidebar **/
nav#subnav{background:#eee; border-bottom: 4px solid #ddd}
nav#subnav ul li a.active, nav#subnav ul li a:hover{background:#3d3d3d ; color:#fff;} 

/* END PAGES
================================================== */


/* SLIDERS
================================================== */
/*** supersized ***/
#superSizedSlider h1 {color:#fff;text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);}
#superSizedSlider h1 a {}

/*** FLEX ***/

.flexslider {
    box-shadow: none;
}
.slides .txt div {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
.flexslider .flex-direction-nav a {
    background-color: #3d3d3d ;
}
.flex-control-paging li a {box-shadow:none; width:12px; height:12px}
.flexslider .flex-control-paging li a.flex-active {
    background:#3d3d3d;
}
.flexslider .flex-control-paging li a:hover {
    background:#3d3d3d ;
}
.flexslider .flex-control-paging li a {
    background: #5e5e5e;
    border: none;
}
.flexslider .flex-control-nav {
    background: none;
}
.flexslider h1 {
    color: #FFFFFF;
    background:#3d3d3d;
}
.flexslider h2 {
    background-color:#222;
    color: #FFFFFF;
}
.flexslider .caption p {
    color: #FFFFFF;
    font-weight: bold;
}

/*** flexHome ***/
#flexHome  h1 {	color:#fff;
	background:none;
	border: none;
	}
#flexHome  h2 {	color:#fff;
	background:none;
}

.flexslider#flexHome {
    box-shadow: none;
}


.flexslider#flexHome h2{padding-left:0;}
/*** END FLEX SLIDER ***/

/*** OWL Carousel ***/
.owl-theme .owl-controls .owl-buttons div{
	background:#3d3d3d ;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	background:#5e5e5e;
}
.owl-theme .owl-controls .owl-page span {background:#5e5e5e;}


/**** camera ****/
.camera_caption > div{background:rgba(0, 0, 0, 0.5);}
.camera_caption h1, .camera_caption h2 {color:#fff;}
.camera_caption .camera_wrap a {background: inherit;}
/**** end camera ****/

/**** Layer slider ***/
#layer-slider {border-bottom: 6px solid #eee}
#layer-slider h1, #layer-slider h2, #layer-slider i {
	color:#fff;
}
#layer-slider h1 {background:#3d3d3d;text-shadow:1px 1px 0 rgba(0,0,0,0.5);}
#layer-slider .bigCaption {color:#333; font-size: 16px;}

#layer-slider-blog #layerslider h1, #layer-slider-blog #layerslider h2 {color:#fff;}

/* END SLIDERS
================================================== */



/* BLOG
================================================== */

.postMeta {
	background: #5e5e5e;
	color:#fff;
}

.post h2 a{color:#555;}
.post h2 a:hover{color:#3d3d3d ;}

.tagCloud a:link, .tagCloud a:visited {
	background-color: #fff;
	color: #ccc;
	border:1px solid #eee;
}
.tagcloud a:hover {
	background-color: #3d3d3d ;
	color: #FFF;
}

p.credits {
	color:#555;
	background:#eee;
}
p.credits a {
	color:#3d3d3d ;
}
.widget {border-bottom: 1px solid #eee}

/* END BLOG
================================================== */

/* PORTFOLIO
================================================== */

nav#filter a {
	background-color: #EEE;
	color:#555;
}
nav#filter a:hover, nav#filter a.current {
	background-color: #3d3d3d ;
	color:#fff;
}
li.filterTitle {
	color:#4F6266;
}
section#projectDescription {
	background-color:#F8F8F8
}
.mfp-bg{background-color: #3d3d3d ;}

/*** pinterest like ***/
.pinBox{
	background:#fff;
	border:1px solid #eee;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.pinInfo li a {
	color:#ccc;
}
.pinInfo li a:hover{
	color:#777;
}

/* END PORTFOLIO
================================================== */

/* MISCELANIOUS
================================================== */
/* Preloader one page */
#preloader {
	background-color:#3d3d3d; /* change if the mask should have another color then white */	
}
#status {color:#fff;background-color:#555}
/** focus color ***/
::-moz-selection { background: #3d3d3d; color: #fff; text-shadow: none; }
::selection { background: #3d3d3d; color: #fff; text-shadow: none; }

/*** hover images ***/
.iconLinks a span {color:#999;}
.iconLinks a:hover span {color:#3d3d3d;}

/*** pricing table ***/
.pricingBloc {
	background-color:#fff;
	border:1px solid rgba(0, 0, 0, 0.2);

}
.pricingBloc ul li {
	border-bottom:1px solid #eee;
	color:#444!important;
}
.pricingBloc ul li:last-child {
	border-bottom:none;
}
.pricingBloc h2 {
	background-color:#555;
	color:#888!important;
	border:none;
}
.pricingBloc h3 {
	background-color:#777;
	color:#fff!important;

}
.pricingBloc p {
	background-color:#eee;
	color:#444!important;
}
.pricingBloc.focusPlan {
	margin-top:0;
	border-color:#D1D1D1;
}
.pricingBloc.focusPlan h2{
	background-color:#333;
	color:#fff!important;
}
.pricingBloc.focusPlan h3 {
	background-color:#3d3d3d ;
	padding:1.25em;
	color:#fff!important;
}

/*** Form ***/
.form-control:focus{
	border: none;
	background-color:#ddd;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.form-control {
	color: #444;
	background-color:#ededed;
    border:none;
}
.error {color: #B94A48;
background-color: #F2DEDE;
border-color: #EED3D7;}

label.error {color:#fff;
background-color: #B94A48;
border:none}

#projectQuote, #projectQuote h3{background:#ddd;color:#444;}

/* END MISCELANIOUS
================================================== */

/* NEKO CSS FRAMEWORK
================================================== */
/* images */
.imgBorder {border:1px solid #ededed; background:#fff; }

/*** Feature box **/

.boxFeature i{color:#3d3d3d ;} 

/*** Focus box **/

.boxFocus{border:1px solid #ddd;}

/*** Icon box **/

.boxIcon a{ border: 1px solid rgba(0,0,0,0.15); }
.boxIcon a:hover { background:#252525; color:#fff;}
.boxIcon a:hover h2 { color:#fff;}
/*** slices ***/
.slice{
	background-color:#fff;
}

/*** call to action ***/
.ctaBox {border:2px solid rgba(0,0,0,0.05);}
.ctaBoxFullwidth{border:none}

.ctaBox blockquote {
	color:#fff;
}
/*color0*/
.color0{
	background-color:#fff;
}

/*color1*/
.color1, .slice.color1, .bulle.color1, .ctaBox.color1{
	background-color:#F7F7F7;
	color:#444;
}

.color1 h1, .color1 h2, .color1 h3, .color1 h4, .color1 blockquote, .color1 a{
	color:#444;
}
.color1 a.btn{color:#111;}
.color1 a.btn:hover{color:#fff;}

/*color2*/
.color2, .slice.color2, .bulle.color2, .ctaBox.color2{
	background-color:#3d3d3d ;
	color:#fff;
}

.color2 h1, .color2 h2, .color2 h3, .color2 h4, .color2 blockquote, .color2 a {
	color:#fff;
}
.color2 a.btn{color:#111;}
.color2 a.btn:hover{color:#fff;}
.color2 .ctaBox {border-color:rgba(255,255,255,0.5);}
/*** icons ***/
.iconRounded {background-color:#3d3d3d ;color:#fff;}
.iconRounded:hover, .color1 .iconRounded:hover,.iconLinks a:hover i{background-color:#5e5e5e;color:#fff;}
.color1 .iconRounded {color:#fff ;}
.color2 .iconRounded {background-color:#FFF;color:#3d3d3d ;}

/* END NEKO CSS FRAMEWORK
================================================== */
