html,
body {
    height: 100%;
    padding: 0 !important;
}

.wrap {
    min-height: -moz-calc(100% - 386px); /* Firefox */
    min-height: -webkit-calc(100% - 386px); /* Chrome, Safari */
    min-height: calc(100% - 386px); /* IE9+ and future browsers */
    height: auto;
    margin: 0 auto;
    /*padding: 0 0 60px;*/
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.list-inline {
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
}
select.form-control:not([size]):not([multiple]) {
    height: 35px;
}
.navbar {
    padding: 0 10px;
}
.navbar-brand {
    padding: 0 !important;
}
.nav-logo {
    max-height: 50px;
    text-shadow: 3px 3px 5px white;
}
.footerWidget #footerLogo {
    max-height: 80px;
}
.modal {
    background: rgba(0,0,0,0.5);
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important;
    -o-transform: translate(0, 50%) !important;
    transform: translate(0, 50%) !important;
}
.btn {
    border-bottom: 4px solid rgba(150, 150, 150, 0.25) !important;
}
.alert {
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
}
.intl-tel-input {
    width: 100%;
}
.country.highlight {
    margin-bottom: 0;
}
#send-money-button {
    background-color: #C8E729;
    color: #4C011F;
    border: 1px solid #4C011F;
}
.about-logo {
    max-height: 200px !important;
    margin: 0 auto;
}
.carousel-inner .item img {
    width: 100vw;
}
.vertical-align {
    display: flex !important;
    align-items: center !important;
}
.rates-container {
    /*border: 5px solid #4f001f;*/
    /*padding: 30px;*/
    margin-bottom: 50px;
    /*color:#4f001f;*/
    /*background-color:#c8e729;*/
}
blockquote small::after {
    content: '\2014 \00A0';
}
.transaction-list {
    padding: 0;
    list-style-type: none;
}
.transaction-list li {
    margin-bottom: 10px;
}